/* base-styles - Light Mode */
$Colors-Base-white: #FFFFFFFF;
$Colors-Base-black: #121212FF;
$Colors-Base-transparent: #FFFFFF00;
$Colors-Text-text-one: #121926FF;
$Colors-Text-text-two: #4B5565FF;
$Colors-Text-text-three: #9AA4B2FF;
$Colors-Text-text-four: #CDD5DFFF;
$Colors-Text-action: #1570EFFF;
$Colors-Brand-Flamingo: #F67699FF;
$Colors-Brand-Sky: #2497FFFF;
$Colors-Brand-Ocean: #59CBE8FF;
$Colors-Brand-Bolt: #FFBF3FFF;
$Colors-Brand-Blush: #FCAFC0FF;
$Colors-Brand-Orchid: #9B4FFFFF;
$Colors-Brand-Grape: #331A6AFF;
$Colors-Brand-Steel: #374151FF;
$Colors-Brand-Midnight: #111928FF;
$Colors-Brand-Ice-100: #F5F8FFFF;
$Colors-Brand-Ice-200: #FAFCFFFF;
$Colors-Brand-Grey-100: #F9F9F9FF;
$Colors-Brand-Grey-200: #F2F2F2FF;
$Colors-Brand-border: #DDE6F1FF;
$Colors-Brand-App-Background-(Smoke-50): #F8FAFCFF;
$Colors-Blue-25: #F5FAFFFF;
$Colors-Blue-50: #EFF8FFFF;
$Colors-Blue-100: #D1E9FFFF;
$Colors-Blue-200: #B2DDFFFF;
$Colors-Blue-300: #84CAFFFF;
$Colors-Blue-400: #53B1FDFF;
$Colors-Blue-500: #2E90FAFF;
$Colors-Blue-600: #1570EFFF;
$Colors-Blue-700: #175CD3FF;
$Colors-Blue-800: #1849A9FF;
$Colors-Blue-900: #194185FF;
$Colors-Blue-950: #102A56FF;
$Colors-Smoke-25: #FCFCFDFF;
$Colors-Smoke-50: #F8FAFCFF;
$Colors-Smoke-100: #EEF2F6FF;
$Colors-Smoke-200: #E3E8EFFF;
$Colors-Smoke-300: #CDD5DFFF;
$Colors-Smoke-400: #9AA4B2FF;
$Colors-Smoke-500: #697586FF;
$Colors-Smoke-600: #4B5565FF;
$Colors-Smoke-700: #364152FF;
$Colors-Smoke-800: #202939FF;
$Colors-Smoke-900: #121926FF;
$Colors-Smoke-950: #0D121CFF;
$Colors-Storm-25: #EFF4FAFF;
$Colors-Storm-50: #E6EDF5FF;
$Colors-Storm-100: #DDE6F1FF;
$Colors-Storm-200: #B5C9E1FF;
$Colors-Storm-300: #8EACD0FF;
$Colors-Storm-400: #668EC0FF;
$Colors-Storm-500: #4572A8FF;
$Colors-Storm-600: #355781FF;
$Colors-Storm-700: #253C59FF;
$Colors-Storm-800: #142131FF;
$Colors-Storm-900: #0A0E16FF;
$Colors-Storm-950: #020305FF;
$Colors-Rose-25: #FFF5F6FF;
$Colors-Rose-50: #FFF1F3FF;
$Colors-Rose-100: #FFE4E8FF;
$Colors-Rose-200: #FECDD6FF;
$Colors-Rose-300: #FEA3B4FF;
$Colors-Rose-400: #FD6F8EFF;
$Colors-Rose-500: #F63D68FF;
$Colors-Rose-600: #E31B54FF;
$Colors-Rose-700: #C01048FF;
$Colors-Rose-800: #A11043FF;
$Colors-Rose-900: #89123EFF;
$Colors-Rose-950: #510B24FF;
$Colors-Red-25: #FFFBFAFF;
$Colors-Red-50: #FEF3F2FF;
$Colors-Red-100: #FEE4E2FF;
$Colors-Red-200: #FECDCAFF;
$Colors-Red-300: #FDA29BFF;
$Colors-Red-400: #F97066FF;
$Colors-Red-500: #F04438FF;
$Colors-Red-600: #D92D20FF;
$Colors-Red-700: #B42318FF;
$Colors-Red-800: #912018FF;
$Colors-Red-900: #7A271AFF;
$Colors-Red-950: #55160CFF;
$Colors-Pink-25: #FEF6FBFF;
$Colors-Pink-50: #FDF2FAFF;
$Colors-Pink-100: #FCE7F6FF;
$Colors-Pink-200: #FCCEEEFF;
$Colors-Pink-300: #FAA7E0FF;
$Colors-Pink-400: #F670C7FF;
$Colors-Pink-500: #EE46BCFF;
$Colors-Pink-600: #DD2590FF;
$Colors-Pink-700: #C11574FF;
$Colors-Pink-800: #9E165FFF;
$Colors-Pink-900: #851651FF;
$Colors-Pink-950: #4E0D30FF;
$Colors-Orange-25: #FFF9F5FF;
$Colors-Orange-50: #FFF4EDFF;
$Colors-Orange-100: #FFE6D5FF;
$Colors-Orange-200: #FFD6AEFF;
$Colors-Orange-300: #FDAE6BFF;
$Colors-Orange-400: #FD974EFF;
$Colors-Orange-500: #FF6B00FF;
$Colors-Orange-600: #F25D06FF;
$Colors-Orange-700: #D94801FF;
$Colors-Orange-800: #D03E00FF;
$Colors-Orange-900: #A63603FF;
$Colors-Orange-950: #7F2704FF;
$Colors-Yellow-25: #FEFDF0FF;
$Colors-Yellow-50: #FEFBE8FF;
$Colors-Yellow-100: #FEF7C3FF;
$Colors-Yellow-200: #FEEE95FF;
$Colors-Yellow-300: #FDE272FF;
$Colors-Yellow-400: #FAC515FF;
$Colors-Yellow-500: #EAAA08FF;
$Colors-Yellow-600: #CA8504FF;
$Colors-Yellow-700: #A15C07FF;
$Colors-Yellow-800: #854A0EFF;
$Colors-Yellow-900: #713B12FF;
$Colors-Yellow-950: #542C0DFF;
$Colors-Green-25: #F6FEF9FF;
$Colors-Green-50: #ECFDF3FF;
$Colors-Green-100: #DCFAE6FF;
$Colors-Green-200: #ABEFC6FF;
$Colors-Green-300: #75E0A7FF;
$Colors-Green-400: #47CD89FF;
$Colors-Green-500: #17B26AFF;
$Colors-Green-600: #079455FF;
$Colors-Green-700: #067647FF;
$Colors-Green-800: #085D3AFF;
$Colors-Green-900: #074D31FF;
$Colors-Green-950: #053321FF;
$Colors-Indigo-25: #F5F8FFFF;
$Colors-Indigo-50: #EEF4FFFF;
$Colors-Indigo-100: #E0EAFFFF;
$Colors-Indigo-200: #C7D7FEFF;
$Colors-Indigo-300: #A4BCFDFF;
$Colors-Indigo-400: #8098F9FF;
$Colors-Indigo-500: #6172F3FF;
$Colors-Indigo-600: #444CE7FF;
$Colors-Indigo-700: #3538CDFF;
$Colors-Indigo-800: #2D31A6FF;
$Colors-Indigo-900: #2B2F73FF;
$Colors-Indigo-950: #111928FF;
$Colors-Purple-25: #FAFAFFFF;
$Colors-Fuchsia-25: #FEFAFFFF;
$Colors-Fuchsia-50: #FDF4FFFF;
$Colors-Fuchsia-100: #FBE8FFFF;
$Colors-Fuchsia-200: #F6D0FEFF;
$Colors-Fuchsia-300: #EEAAFDFF;
$Colors-Fuchsia-400: #E478FAFF;
$Colors-Fuchsia-500: #D444F1FF;
$Colors-Fuchsia-600: #BA24D5FF;
$Colors-Fuchsia-700: #9F1AB1FF;
$Colors-Fuchsia-800: #821890FF;
$Colors-Fuchsia-900: #6F1877FF;
$Colors-Fuchsia-950: #47104CFF;
$Colors-Purple-50: #F4F3FFFF;
$Colors-Purple-100: #EBE9FEFF;
$Colors-Purple-200: #D9D6FEFF;
$Colors-Purple-300: #BDB4FEFF;
$Colors-Purple-400: #9B8AFBFF;
$Colors-Purple-500: #7A5AF8FF;
$Colors-Purple-600: #6938EFFF;
$Colors-Purple-700: #5925DCFF;
$Colors-Purple-800: #4A1FB8FF;
$Colors-Purple-900: #3E1C96FF;
$Colors-Purple-950: #27115FFF;
$Spacing-0-(0px): 0px;
$Spacing-0․5-(2px): 2px;
$Spacing-1-(4px): 4px;
$Spacing-1․5-(6px): 6px;
$Spacing-2-(8px): 8px;
$Spacing-3-(12px): 12px;
$Spacing-4-(16px): 16px;
$Spacing-5-(20px): 20px;
$Spacing-6-(24px): 24px;
$Spacing-8-(32px): 32px;
$Spacing-10-(40px): 40px;
$Spacing-12-(48px): 48px;
$Spacing-16-(64px): 64px;
$Spacing-20-(80px): 80px;
$Spacing-24-(96px): 96px;
$Spacing-32-(128px): 128px;
$Spacing-40-(160px): 160px;
$Spacing-48-(192px): 192px;
$Spacing-56-(224px): 224px;
$Spacing-64-(256px): 256px;
$Spacing-80-(320px): 320px;
$Spacing-96-(384px): 384px;
$Spacing-120-(480px): 480px;
$Spacing-140-(560px): 560px;
$Spacing-160-(640px): 640px;
$Spacing-180-(720px): 720px;
$Spacing-192-(768px): 768px;
$Spacing-256-(1,024px): 1024px;
$Spacing-320-(1,280px): 1280px;
$Spacing-360-(1,440px): 1440px;
$Spacing-400-(1,600px): 1600px;
$Spacing-480-(1,920px): 1920px;
$Colors-Gray-true-25: #FCFCFCFF;
$Colors-Gray-true-50: #F7F7F7FF;
$Colors-Gray-true-100: #F5F5F5FF;
$Colors-Gray-true-200: #E5E5E5FF;
$Colors-Gray-true-300: #D6D6D6FF;
$Colors-Gray-true-400: #A3A3A3FF;
$Colors-Gray-true-500: #737373FF;
$Colors-Gray-true-600: #525252FF;
$Colors-Gray-true-700: #424242FF;
$Colors-Gray-true-800: #292929FF;
$Colors-Gray-true-900: #141414FF;
$Colors-Gray-true-950: #0F0F0FFF;
$Colors-Info-green: #17B26AFF;
$Colors-Info-yellow: #FAC515FF;
$Colors-Info-orange: #FF692EFF;
$Colors-Info-red: #D92D20FF;
$Colors-Smoke-750: #2C3646FF;
$button-primary: $Colors-Text-action;
$button-secondary: $Colors-Base-white;