/* Colors Mapped - Light */
$bg-surface-primary: $Colors-Brand-App-Background-(Smoke-50);
$bg-surface-secondary: $Colors-Smoke-25;
$bg-surface-sidebar: $Colors-Indigo-950;
$bg-surface-card: $Colors-Base-white;
$bg-surface-card-selected: $Colors-Brand-Ice-200;
$bg-surface-border: $Colors-Brand-border;
$bg-surface-cell: $Colors-Base-white;
$bg-surface-cell-hover: $Colors-Blue-50;
$bg-surface-header: $Colors-Smoke-50;
$bg-surface-header-hover: $Colors-Smoke-100;
$bg-surface-table-container: $Colors-Base-white;
$bg-surface-total-cell: $Colors-Smoke-100;
$bg-surface-button-nav: $Colors-Smoke-100;
$bg-surface-button-nav-border: $border-default;
$bg-surface-filter-bg: $Colors-Base-white;
$bg-surface-filter-group: $Colors-Smoke-25;
$text-primary: $Colors-Text-text-one;
$text-secondary: $Colors-Text-text-two;
$text-tertiary: $Colors-Text-text-three;
$Color: #FFFFFFFF;
$action-buttons-button-primary: $Colors-Text-action;
$action-buttons-button-primary-hover: $Colors-Blue-700;
$action-buttons-button-primary-pressed: $Colors-Blue-700;
$action-buttons-button-secondary: $Colors-Base-white;
$action-buttons-button-secondary-hover: $Colors-Brand-Ice-200;
$action-buttons-button-secondary-text: $Colors-Text-text-two;
$action-buttons-button-disabled: $Colors-Smoke-50;
$action-buttons-button-disabled-text: $Colors-Text-text-four;
$action-buttons-tab-nav-selected: $Colors-Text-action;
$action-buttons-tab-nav-unselected: $Colors-Text-text-three;
$action-checkbox-checkbox-selected: $Colors-Text-action;
$action-checkbox-checkbox-selected-border: $Colors-Text-action;
$action-checkbox-checkbox-unselected: #FFFFFFFF;
$action-checkbox-checkbox-unselected-border: $Colors-Brand-border;
$action-checkbox-checkbox-disabled: $Colors-Smoke-50;
$action-checkbox-checkbox-disabled-border: $Colors-Brand-border;
$alerts-info-bg: $Colors-Blue-50;
$alerts-info-title: $Colors-Indigo-700;
$alerts-info-border: $Colors-Blue-400;
$alerts-info-icon+text: $Colors-Blue-500;
$alerts-error-bg: $Colors-Red-25;
$alerts-error-title: $Colors-Red-700;
$alerts-error-border: #D92D20FF;
$alerts-error-icon+text: $Colors-Red-500;
$alerts-warning-bg: $Colors-Yellow-25;
$alerts-warning-Title: $Colors-Yellow-700;
$alerts-warning-border: $Colors-Yellow-600;
$alerts-warning-icon+text: $Colors-Yellow-600;
$alerts-success-bg: $Colors-Green-25;
$alerts-success-title: $Colors-Green-700;
$alerts-success-border: #17B26AFF;
$alerts-success-icon+text: #17B26AFF;
$divider-default: $Colors-Storm-200;
$border-default: $Colors-Storm-100;
$border-focus: $Colors-Text-action;
$form-dropdown-dropdown-enabled: $Colors-Base-white;
$form-text-area-text-area-enabled: $Colors-Base-white;
$form-text-area-text-area-enabled-border: $Colors-Brand-border;
$form-text-area-text-area-disabled: $Colors-Gray-true-50;
$form-text-area-text-area-disabled-border: $Colors-Brand-border;
$form-text-area-text-area-disabled-text: $Colors-Text-text-four;
$form-dropdown-dropdown-enabled-border: $Colors-Brand-border;
$text-disabled: $Colors-Text-text-four;
$form-dropdown-dropdown-disabled: $Colors-Gray-true-50;
$form-dropdown-dropdown-disabled-border: $Colors-Brand-border;
$form-dropdown-dropdown-disabled-text: $Colors-Text-text-four;
$text-table-data: $Colors-Text-text-two;
$text-body-text: $Colors-Text-text-two;
$action-radio-radio-unselected: $Colors-Base-white;
$action-radio-radio-unselected-border: $Colors-Brand-border;
$action-radio-radio-selected: $Colors-Base-white;
$action-radio-radio-selected-border: $Colors-Text-action;
$action-radio-radio-disabled: $Colors-Smoke-50;
$action-radio-radio-disabled-border: $Colors-Brand-border;
$form-input-input-enabled: $Colors-Base-white;
$form-input-input-enabled-border: $Colors-Brand-border;
$form-input-input-disabled: $Colors-Smoke-50;
$form-input-input-disabled-border: $Colors-Brand-border;
$form-input-input-disbled-text: $Colors-Text-text-four;
$form-input-input-placeholder-text: $Colors-Text-text-three;
$form-input-input-text-active: $Colors-Text-text-two;
$badge-badge-grey: $Colors-Smoke-200;
$badge-badge-grey-text: $Colors-Smoke-600;
$badge-badge-red: $Colors-Red-100;
$badge-badge-red-text: $Colors-Red-600;
$badge-badge-yellow: $Colors-Yellow-100;
$badge-badge-yellow-text: $Colors-Yellow-600;
$badge-badge-green: $Colors-Green-100;
$badge-badge-green-text: $Colors-Green-600;
$badge-badge-blue: $Colors-Indigo-100;
$badge-badge-blue-text: $Colors-Indigo-700;
$badge-badge-purple: $Colors-Purple-100;
$badge-badge-purple-text: $Colors-Purple-800;
$badge-badge-pink: $Colors-Rose-50;
$badge-badge-pink-text: $Colors-Rose-700;
$badge-badge-orange: $Colors-Orange-100;
$badge-badge-orange-text: $Colors-Orange-600;
$action-bulk-edit-bulk-edit-bg: $Colors-Indigo-50;
$action-bulk-edit-bulk-edit-border: $Colors-Indigo-200;

/* Colors Mapped - Dark */
$bg-surface-primary: $Colors-Smoke-950;
$bg-surface-secondary: $Colors-Smoke-900;
$bg-surface-sidebar: $Colors-Smoke-950;
$bg-surface-card: $Colors-Smoke-700;
$bg-surface-card-selected: $Colors-Smoke-600;
$bg-surface-border: $Colors-Smoke-500;
$bg-surface-cell: $Colors-Smoke-800;
$bg-surface-cell-hover: $Colors-Smoke-750;
$bg-surface-header: $Colors-Smoke-900;
$bg-surface-header-hover: $Colors-Smoke-800;
$bg-surface-table-container: $Colors-Smoke-950;
$bg-surface-total-cell: $Colors-Smoke-900;
$bg-surface-button-nav: $Colors-Smoke-750;
$bg-surface-button-nav-border: $Colors-Smoke-800;
$bg-surface-filter-bg: $Colors-Smoke-900;
$bg-surface-filter-group: $Colors-Smoke-800;
$text-primary: $Colors-Text-text-four;
$text-secondary: $Colors-Text-text-three;
$text-tertiary: $Colors-Text-text-two;
$Color: #FFFFFFFF;
$action-buttons-button-primary: $Colors-Text-action;
$action-buttons-button-primary-hover: $Colors-Blue-700;
$action-buttons-button-primary-pressed: $Colors-Blue-700;
$action-buttons-button-secondary: $Colors-Smoke-600;
$action-buttons-button-secondary-hover: $Colors-Smoke-700;
$action-buttons-button-secondary-text: $Colors-Text-text-three;
$action-buttons-button-disabled: $Colors-Smoke-700;
$action-buttons-button-disabled-text: $Colors-Text-text-three;
$action-buttons-tab-nav-selected: $Colors-Text-action;
$action-buttons-tab-nav-unselected: $Colors-Text-text-three;
$action-checkbox-checkbox-selected: $Colors-Text-action;
$action-checkbox-checkbox-selected-border: $Colors-Text-action;
$action-checkbox-checkbox-unselected: $Colors-Smoke-400;
$action-checkbox-checkbox-unselected-border: $Colors-Smoke-700;
$action-checkbox-checkbox-disabled: $Colors-Smoke-600;
$action-checkbox-checkbox-disabled-border: $Colors-Smoke-700;
$alerts-info-bg: $Colors-Indigo-900;
$alerts-info-title: $Colors-Blue-300;
$alerts-info-border: $Colors-Blue-700;
$alerts-info-icon+text: $Colors-Blue-800;
$alerts-error-bg: $Colors-Red-25;
$alerts-error-title: $Colors-Red-700;
$alerts-error-border: #D92D20FF;
$alerts-error-icon+text: $Colors-Red-500;
$alerts-warning-bg: $Colors-Yellow-900;
$alerts-warning-Title: $Colors-Yellow-500;
$alerts-warning-border: $Colors-Yellow-600;
$alerts-warning-icon+text: $Colors-Yellow-400;
$alerts-success-bg: $Colors-Green-25;
$alerts-success-title: $Colors-Green-700;
$alerts-success-border: #17B26AFF;
$alerts-success-icon+text: #17B26AFF;
$divider-default: $Colors-Smoke-750;
$border-default: $Colors-Smoke-700;
$border-focus: $Colors-Text-action;
$form-dropdown-dropdown-enabled: $Colors-Smoke-600;
$form-text-area-text-area-enabled: $Colors-Smoke-600;
$form-text-area-text-area-enabled-border: $Colors-Smoke-700;
$form-text-area-text-area-disabled: $Colors-Smoke-800;
$form-text-area-text-area-disabled-border: $Colors-Smoke-700;
$form-text-area-text-area-disabled-text: $Colors-Text-text-two;
$form-dropdown-dropdown-enabled-border: $Colors-Smoke-700;
$text-disabled: $Colors-Smoke-500;
$form-dropdown-dropdown-disabled: $Colors-Smoke-800;
$form-dropdown-dropdown-disabled-border: $Colors-Smoke-700;
$form-dropdown-dropdown-disabled-text: $Colors-Text-text-two;
$text-table-data: $Colors-Text-text-four;
$text-body-text: $Colors-Text-text-four;
$action-radio-radio-unselected: $Colors-Smoke-400;
$action-radio-radio-unselected-border: $Colors-Smoke-700;
$action-radio-radio-selected: $Colors-Smoke-400;
$action-radio-radio-selected-border: $Colors-Text-action;
$action-radio-radio-disabled: $Colors-Smoke-400;
$action-radio-radio-disabled-border: $Colors-Smoke-700;
$form-input-input-enabled: $Colors-Smoke-600;
$form-input-input-enabled-border: $Colors-Smoke-700;
$form-input-input-disabled: $Colors-Smoke-800;
$form-input-input-disabled-border: $Colors-Smoke-700;
$form-input-input-disbled-text: $Colors-Text-text-two;
$form-input-input-placeholder-text: $Colors-Text-text-three;
$form-input-input-text-active: $Colors-Text-text-four;
$badge-badge-grey: $Colors-Smoke-600;
$badge-badge-grey-text: $Colors-Smoke-300;
$badge-badge-red: $Colors-Red-900;
$badge-badge-red-text: $Colors-Red-300;
$badge-badge-yellow: $Colors-Yellow-900;
$badge-badge-yellow-text: $Colors-Yellow-400;
$badge-badge-green: $Colors-Green-800;
$badge-badge-green-text: $Colors-Green-200;
$badge-badge-blue: $Colors-Indigo-900;
$badge-badge-blue-text: $Colors-Blue-300;
$badge-badge-purple: $Colors-Purple-900;
$badge-badge-purple-text: $Colors-Purple-400;
$badge-badge-pink: $Colors-Pink-900;
$badge-badge-pink-text: $Colors-Pink-400;
$badge-badge-orange: $Colors-Orange-900;
$badge-badge-orange-text: $Colors-Orange-400;
$action-bulk-edit-bulk-edit-bg: $Colors-Smoke-800;
$action-bulk-edit-bulk-edit-border: $Colors-Smoke-750;